/*
 *
 *
 *
 */

BODY {
  background-color:rgb(252, 252, 252);

}

FOOTER {
  font-family: Montserrat, sans-serif;
  font-size: .8rem;
  margin-top: 1rem;
  border-top: 1px solid #AAA;
  padding: 1rem;
  background-color: rgb(247, 247, 247);
  color: rgba(0, 0, 0, .5);
}

FOOTER H3 {
  margin: 0px;
  font-size: 1rem;
}

FOOTER A {
  box-shadow: none;
  color: rgba(0, 0, 0, .5);
}

.centerWrapper {

}

FOOTER .lcdlinks {
  display: flex;
  margin: 1.5rem auto;
  width: 400px;
  opacity: 0.5;
  height: 3rem;
}

FOOTER .lcdlinks LI {
  list-style-type: none;
  margin: 0 1.5rem 0 0;
}

FOOTER .lcdlinks IMG {
  height: 3rem;
}


.cc {
  font-size: .6rem;
}

.cc A {
}

.ccIMG {
  float: left;
  padding-right: .5rem;
  opacity: 0.5;
}

.cc IMG {
  height: 2rem;
  padding: .1rem;
}

.blogtitle A {
  color:#0f0a01;
  box-shadow: none;
}
