/*
 *
 *
 *
 */

BODY {
  background-color:rgb(252, 252, 252);

}

FOOTER {
  font-family: Montserrat, sans-serif;
  font-size: .8rem;
  margin-top: 3rem;
  border-top: 1px solid #AAA;
  padding: 2rem 1rem 1rem 1rem;
  background-color: rgb(247, 247, 247);
  color: rgba(0, 0, 0, 1);
  opacity: 0.5;
}

FOOTER A {
  box-shadow: none;
  color: rgba(0, 0, 0, 1);
}


FOOTER .lcdlinks {
  height: 3rem;
}

FOOTER .lcdlinks LI {
  list-style-type: none;
  margin: 0 .5rem 0 0;
}

FOOTER .lcdlinks IMG {
  height: 1.5rem;
}

.cc {
  opacity: 0.8;
  display: inline-flex;
  width: 100%;
  font-size: .6rem;
}

.cc IMG {
  height: 1rem;
  margin-right: .3rem;
}

.blogtitle A {
  color:#0f0a01;
  box-shadow: none;
}
